n8n/workflows/market_simulation.json
{
    "name": "Market Data Simulation",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 24
                        }
                    ]
                }
            },
            "name": "Schedule",
            "type": "n8n-nodes-base.schedule",
            "typeVersion": 1,
            "position": [
                460,
                280
            ]
        },
        {
            "parameters": {
                "url": "http://backend:8000/api/simulate",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-Key",
                            "value": "={{ $env.BACKEND_API_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Run Simulation",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                680,
                280
            ]
        },
        {
            "parameters": {
                "url": "http://backend:8000/api/ingest/market-insights",
                "method": "POST",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ insights: $json.insights || [] }) }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-Key",
                            "value": "={{ $env.BACKEND_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "name": "Push to Ingestion",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                900,
                280
            ],
            "notes": "After simulation runs, push the updated market insights through the ingestion pipeline for tracking and audit."
        },
        {
            "parameters": {
                "message": "✅ Market data simulation completed. Trends updated via ingestion pipeline.",
                "channel": "admin-alerts"
            },
            "name": "Notify Slack",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                1120,
                280
            ]
        }
    ],
    "connections": {
        "Schedule": {
            "main": [
                [
                    {
                        "node": "Run Simulation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Simulation": {
            "main": [
                [
                    {
                        "node": "Push to Ingestion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Push to Ingestion": {
            "main": [
                [
                    {
                        "node": "Notify Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "timezone": "Asia/Singapore"
    }
}